﻿body{
    background: url(Taxi.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 600px;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
}

.middleNav{
    background-color: #f1f1f1;
    height:500px;
    left:2px;
    margin:5px;
    border:groove ;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

.GoogleMaps{
    background-color:black;
    width:100%;
    height:400px;
    border:2px;

}

.Canvas{
    background-color:black;
    width:500px;
    height:300px;
}

.InfoWindow{
    background-color:black;
    color:white;
}
.TituloPrincipal
{            
    font: bold 36px 'MiNuevaFuente';            
}

.divTituloPrincipal{
    display:block;
    width:500px;
    margin:50px auto;
    padding:15px;
    text-align:center;
    border:1px solid #999999;    
    background:#DDDDDD;
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px;
}

.Banderaso{
    font:bold 30px ledboard;
    text-align:center;
    width:100%;
    height:100%;
    color:white;
}
.divBanderaso{
    margin:50px auto;
    padding:15px;
    text-align:center;
    border:1px solid #999999;    
    background:#ff0000;
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px;
    height:100px;
}
.divImagenPromocional{
    height:100px;
    width:100px;
}
@font-face
{
    font-family: 'MiNuevaFuente';
    src:url("grease.ttf");
}

@font-face
{
    font-family:'ledboard';
    src:url("TickingTimebombBB.TTF");
}

.divSeleccionTaxi{
    margin:1px;
    width:200px;
    height:200px;
    border:1px solid #aaaaaa;
}