﻿body {
}

#cajasoltar
{
    float:left;
    width:500px;
    height:300px;
    margin:10px;
    border: 1px solid #999999;
}

#cajaimagenes{
    float:left;
    width:320px;
    margin:10px;
    border:1px solid #999999;
}

#caja imagenes > img
{
    float:left;
    padding:5px;
}