﻿body {
}

#cajaformulario{
    float:left;
    padding:20px;
    border:1px solid #999999;
}

#cajadatos{
    float:left;
    width:500px;
    margin-left:20px;
    padding:20px;
    border:1px solid #999999;
}