﻿doctype html
html
  head   
    title Bioreactores
    link(rel='stylesheet', type='text/css', href='../css/materialize.min.css')
  body
  block BodyContent
  block Scripts
   script(src="../js/angular.min.js")
   script(src="../js/materialize.min.js")
