﻿body 
{
    text-align:center;
}

#principal 
{
    display:block;
    width:500px;
    margin:50px auto;
    padding:15px;
    text-align:center;
    border:1px solid #999999;    
    background:#DDDDDD;

    /*
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
    */

    /*
    -moz-border-radius:20px 10px 30px 50px;
    -webkit-border-radius:20px 10px 30px 50px;
    border-radius:20px 10px 30px 50px;
    */

    /*
    -moz-border-radius:20px / 10px;
    -webkit-border-radius:20px / 10px;
    border-radius:20px / 10px;
    */

    /*
    -moz-box-shadow: rgb(150,150,150) 5px 5px;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px;
    box-shadow: rgb(150,150,150) 5px 5px;
    */

    /*Gradiente lineal*/
    /*background:-webkit-linear-gradient(top,#FFFFFF, #006699);
    background: -moz-linear-gradient(top,#FFFFFF, #006699);*/

    /*Direccion del gradiente (angulo)*/
    /*background: -webkit-linear-gradient(30deg, #FFFFF, #006699);
    background: -moz-linear-gradient(30deg, #ffffff, #006699);*/

    /*Puntos de Terminacion por color*/
    /*background: -webkit-linear-gradient(top, #FFFFFF 50%, #006699 90%);
    background: -moz-linear-gradient(top, #FFFFFF 50%, #006699 90%);*/

    

    /*-moz-box-shadow: rgb(150,150,150) 5px 5px 10px inset;
    -webkit-box-shadow: rgb(150,150,150) 5px 5px 10px inset;
    box-shadow: rgb(150,150,150) 5px 5px 10px inset;*/

    /**/
    /*-moz-transform: scale(2);
    -webkit-transform: scale(2);*/

    /*Tiempo de transicion*/
    -moz-transition: -moz-transform  1s ease-in-out 0.5s;
    -webkit-transition: -webkit-transform  1s ease-in-out 0.5s ;

}

#titulo 
{
    font: bold 36px MiNuevaFuente, sans-serif;
    /*text-shadow:rgb(0,0,150) 3px 3px 5px;*/
    text-shadow:rgba(0,0,0,0.5) 3px 3px 5px;

    /*hsla (tono, saturacion, luminosidad, opacidad)
    tono:0 y 360 rojos... 120 verdes... 240 azules 
        saturacion: 0 (escala de grises) a 100% (todo color)
        luminosidad : 0 (completamente obsuro) a 100% (completamente iluminado) 
    */
    color :Highlight hsla(10,10%,100%,0.5)
}

@font-face
{
    font-family: 'MiNuevaFuente';
    src:url("ALGER.TTF")
}