﻿<!--
    Directivas - html annotations that trigger Javascript behaviors
    Modules - Where our application components live
    Controllers - Where we add application behavior
    Expressions - How values get displayed within the page
-->

<!DOCTYPE html>
<html ng-app="store">
<head>
    <title>Index HTML Setup</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../Scripts/bootstrap.min.css" />
</head>
<body>
    <!--<div ng-controller="StoreController as store" ng-hide="store.product.soldOut">-->
    <div ng-controller="StoreController as store">
        <div ng-repeat="product in store.products">

            <h1>{{product.name}}</h1>
            <h2>${{product.price}}</h2>
            <p>{{product.description}}</p>
            <button ng-show="store.product.canPurchase">Add to Cart</button>
        </div>
    </div>    
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/app.js"></script>
</body>
</html>