﻿<!-- 
    Filters
    limit to:
        'octagon gem' | uppercase
        <li ng-repeat="product in store.products | limitTo:3">

    order by:
        <li ng-repeat="product in store.products | orderBy:'-price'">
 -->
<!DOCTYPE html>
<html ng-app="store">
<head>
    <title>Index HTML Setup</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../Scripts/bootstrap.min.css" />
</head>
<body>
    <!--<div ng-controller="StoreController as store" ng-hide="store.product.soldOut">-->
    <div ng-controller="StoreController as store">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in store.products |orderBy:'price' ">
                <h3>
                    {{product.name}}
                    <em class="pull-right">{{product.price |currency  }}</em>
                    <img ng-src="{{product.images[0].full}}" />
                </h3>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/app.js"></script>
</body>
</html>