﻿
<!DOCTYPE html>
<html ng-app="store">
<head>
    <title>Index HTML Setup</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../Scripts/bootstrap.min.css" />
</head>
<body>
    <!--<div ng-controller="StoreController as store" ng-hide="store.product.soldOut">-->
    <div ng-controller="StoreController as store">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="product in store.products |orderBy:'price' ">
                <h3>
                    {{product.name}}
                    <em class="pull-right">{{product.price |currency  }}</em>
                    <img ng-src="{{product.images[0].full}}" />
                </h3>

                <section ng-init="tab=1" ng-controller="PanelController as panel">
                    <ul class="nav nav-pills">
                        <li ng-class="{active:panel.isSelected(1)}">
                            <a ng-click="panel.selectTab(1)">Description</a>
                        </li>
                        <li ng-class="{active:panel.isSelected(2)}">
                            <a ng-click="panel.selectTab(2)">Specifications</a>
                        </li>
                        <li ng-class="{active:panel.isSelected(3)}">
                            <a ng-click="panel.selectTab(3)">Reviews</a>
                        </li>
                    </ul>

                    <div class="panel" ng-show="panel.isSelected(1)">
                        <h4>Description</h4>
                        <p>{{product.description}}</p>
                    </div>
                    <div class="panel" ng-show="panel.isSelected(2)">
                        <h4>Specificactions</h4>
                        <blockquote>None yet</blockquote>
                    </div>

                    <div class="panel" ng-show="panel.isSelected(3)">       
                        <h4>Reviews</h4>                 
                        <form name="reviewForm">                            
                            <blockquote>
                                <b>Stars:{{review.stars}}</b>
                                {{review.body}}
                                <cite>by:{{review.author}}</cite>
                            </blockquote>
                            <select ng-model="review.stars">
                                <option value="1">1 star</option>
                                <option value="2">2 stars </option>
                                <option value="3">3 stars </option>
                                <option value="4">4 stars </option>
                                <option value="5">5 stars </option>
                            </select>
                            <textarea ng-model="review.body"></textarea>
                            <label>by:</label>
                            <input type="email" ng-model="review.author" />
                            <input type="submit" value="Submit" />
                        </form>
                    </div>                    
                </section>
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/app.js"></script>
</body>
</html>