﻿<!DOCTYPE html>
<html ng-app="store">
<head>
    <title>Index HTML Setup</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" type="text/css" href="../Scripts/bootstrap.min.css" />
</head>
<body>
    <div ng-controller="StoreController as store">
        <h1>{{store.product.name}}</h1>
        <h2>${{store.product.price}}</h2>
        <p>{{store.product.description}}</p>
    </div>
    <script type="text/javascript" src="../Scripts/angular.min.js"></script>
    <script type="text/javascript" src="../Scripts/Angular/app.js"></script>
</body>
</html>